<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <display-name>DsB</display-name>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <description></description>
        <display-name>Login</display-name>
        <servlet-name>UserLogin</servlet-name>
        <servlet-class>com.bookstore.servlets.UserLogin</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserLogin</servlet-name>
        <url-pattern>/UserLogin</url-pattern>
    </servlet-mapping>
    <servlet>
        <description></description>
        <display-name>Logout</display-name>
        <servlet-name>UserLogout</servlet-name>
        <servlet-class>com.bookstore.servlets.UserLogout</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserLogout</servlet-name>
        <url-pattern>/UserLogout</url-pattern>
    </servlet-mapping>
    <servlet>
        <display-name>ActionServlet</display-name>
        <servlet-name>Action</servlet-name>
        <servlet-class>com.bookstore.servlets.Action</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Action</servlet-name>
        <url-pattern>/formAction</url-pattern>
    </servlet-mapping>
    <servlet>
        <display-name>ActionServlet</display-name>
        <servlet-name>CustomerAction</servlet-name>
        <servlet-class>com.bookstore.servlets.Action</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CustomerAction</servlet-name>
        <url-pattern>/customer/formAction</url-pattern>
    </servlet-mapping>
</web-app>